@page
@using DotNetCoreRazor.Pages.Shared;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Exploring Sessions for WebForms to .NET Core Migration</h1>

<ul>
    <li><a href="/InspectSessionWebForms">Inspect Session - WebForms</a></li>
    <li><a href="/InspectSessionCore">Inspect Session - .NET Core</a></li>
</ul>